<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.sbp.prj.dao.BoardDAO" >
 	<select id="boardSearch" resultType="com.sbp.prj.dto.BoardDTO">
 		select g.* from(
 		select @rownum := @rownum + 1 as rnum, tblboard.* 
 		from tblboard, (select @rownum:=0) tmp 
 		<where>
 			<if test="keyField=='subject'">
 				(subject like CONCAT('%',#{keyWord},'%')) 
 			</if>
 			<if test="keyField=='uName'">
 				(uname like CONCAT('%',#{keyWord},'%')) 
 			</if>
 			<if test="keyField=='content'">
 				(content like CONCAT('%',#{keyWord},'%')) 
 			</if>
 		</where>
 		 order by num) g order by rnum desc
 	</select>
 </mapper>
